.bannerFull {
	display: block;
	background: #d7d7d7;
}
.bannerFull img{
	width: 100%;
	height: auto;
}
#bar-footer{
	margin-top: 0;
}
#gcontent{
	background: url('/arquivos/bf2016_bg-content.png');
}
.lista-produtos .gt-vitrine li {
	width: 23.20%;
	box-sizing: border-box;
	padding-bottom: 83px;
	overflow: visible;
	margin-left: 10px;
	min-height: 400px;
	margin-bottom: 10px;
	height: auto!important
}
.bread-crumb li a {
	color: #fff;
}
.bread-crumb li.last a {
	color: #ffb400;
}
.left-nav { display: none;}
.search-multiple-navigator h4:nth-of-type(1){display: none;}
.search-single-navigator h4:nth-of-type(1){display: none;}
.search-multiple-navigator {color:#fff;}
.lista-produtos {
    position: relative;
    float: right;
    width: 100% !important;
}
.left-nav .titulo-filtro {
	color: #ffb400;
	padding-left: 10px;
}
.left-nav .menu-departamento h5 {
	margin: 15px 0 6px 10px;
}
.left-nav .menu-departamento h5 {
	color: #fff;
}
.left-nav .menu-departamento label {
	color: #fff;
}
.left-nav .menu-departamento fieldset h5 + div {
	border: none;
}
.left-nav .menu-departamento fieldset {
	margin-bottom: 6px;
	border-top: 1px dashed #f3f3f3;
}
.left-nav .menu-departamento fieldset:nth-of-type(1) {border-top:none;}
.search-single-navigator h3 {
	color: #fff;
}
.left-nav .menu-departamento ul li a {
	color: #fff;
	font-size: 14px;
}
.search-single-navigator h5 {
	margin: 6px 0 6px 0px !important;
}
.search-single-navigator {
	padding-left: 16px;
}
.search-single-navigator h3 a {
	color: #fff;
}
.category .pager ul.pages li.pgCurrent {
	background: #ffb400 none repeat scroll 0 0;
	color: #fff;
}
.left-nav .menu-departamento ul li a:hover {
	background: none;
	text-indent: 10px;
}
/*.sub {
	float: left;
	z-index: 99999;
	position: relative;
}*/
.bread-crumb {
    overflow: hidden;
    padding: 20px 0;
    z-index: 9999999999;
}
.vitrine.resultItemsWrapper {
	margin-top: -60px;
}
.resultado-busca-filtro {
	float: none;
    display: table;
    margin: -40px auto 0px;
}
.category .pager ul.pages li.previous, .category .pager ul.pages li.next {
	color: #fff;
}
.resultado-busca-filtro select {
	cursor:pointer;
}
.category .pager.bottom{
    display: block;
    float: left;
    width: 100%;
}
.category .pager.bottom ul.pages {
    display: table;
    margin: 0 auto;
    float: none;
}
.blackFriday_fPreco{
	background: #ffb400;
    display: block;
    height: 80px;
    float: left;
    width: 100%;
    margin-top: -5px;
}
.blackFriday_fPreco h4{
	float: left;
	text-transform: uppercase;
	padding: 35px 0px 0;
	width: 18%;
	font-size: 20px;
}
ul.filtroDescontos {
    width: 82%;
    float: right;
}
ul.filtroDescontos li {
	position: relative;
    width: 19.66%;
    height: 60px;
    float: left;
    text-align: center;
    border-right:1px dashed #c28900;
    margin-top: 10px;
}
ul.filtroDescontos li:last-child {
	border-right:none;
}
ul.filtroDescontos li a{
	font-size: 26px;
	color:#fff;
	font-family: 'Times New Roman';
    padding: 20px 0px;
    display: inline-block;
}
ul.filtroDescontos li .current{
	display: none;
	width: 25px;
    height: 25px;
    position: absolute;
    top: 60px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    left: 85px;
}
body.todos ul.filtroDescontos li:nth-of-type(1) .current{display: block!important;}
body.ate-40 ul.filtroDescontos li:nth-of-type(2) .current{display: block!important;}
body.ate-80 ul.filtroDescontos li:nth-of-type(3) .current{display: block!important;}
body.ate-120 ul.filtroDescontos li:nth-of-type(4) .current{display: block!important;}
body.outros ul.filtroDescontos li:nth-of-type(5) .current{display: block!important;}

.flags .flag.discount{
    background: url(/arquivos/bf2016_flag-desconto.png?v=2) !important;
    width: 70px !important;
    height: 93px !important;
    padding-top: 48px !important;
    box-sizing: border-box;
    line-height: 15px!important;
    display: block;
    position: absolute;
    top: -9px;
    right: 0px;
    border-radius: 0px !important;
}
.flags .flag.discount span{
	color:#ffb400;
}
.gt-vitrine li img {
    width: 100%;
    height: auto;
    margin: 50px 0 10px;
}
.lista-produtos .gt-vitrine li {
    min-height: 460px;
}

.gt-vitrine.prateleira ul{
	float: none;
}
.gt-vitrine.prateleira {
    clear: both;
}
.lista-produtos .gt-vitrine li {
    min-height: 510px;
}


@media (min-width:1280px) {

}

@media (min-width:810px) {
	
}

@media (min-width:630px) {
	
}

@media (max-width:1180px) {
	.blackFriday_fPreco h4 {
		font-size: 18px;
	}
	.lista-produtos .gt-vitrine li {
    width: 30.20%;
	}
	.flags .flag.discount {
		right: -20px;
	}
}
@media (max-width:1020px) {

}

@media (max-width: 920px) {
	
}

@media (max-width: 810px) {
	.lista-produtos .gt-vitrine li {
    	width: 47.20%;
	}
	ul.filtroDescontos {
    	width: 100%;
    	float: right;
    	margin: -10px auto;
	}
/*	ul.filtroDescontos li {
    	height: 80px;
	}*/
	ul.filtroDescontos li a {
    	font-size: 22px;
	}
	ul.filtroDescontos li .current {
		display: none;
		top: 70px;
		left: 40%;
	}
	.blackFriday_fPreco h4 {
		margin:10px auto;
		text-align: center;
		padding:0;
		width: 100%;
	}
	.blackFriday_fPreco {
		height: 123px;
	}
	.flags .flag.discount {
		right: 0;
	}
	.bread-crumb{
		float: left;
	}
	.resultado-busca-filtro {
		margin: 0px auto 0px 0;
	}
}

@media (max-width: 740px) {
.resultado-busca-filtro select {
		float: none;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px 0;
	}
}

@media (max-width: 690px) {

}

@media (max-width: 540px) {

}

@media (max-width: 480px) {
	.lista-produtos .gt-vitrine li {
    	width: 98%;
	}
	ul.filtroDescontos li {
		position: relative;
		width: 100%;
		height: 60px;
		border-right: none;
		border-bottom: 1px dashed #c28900;
	}
	.blackFriday_fPreco {
	    height: 382px;
	}
	ul.filtroDescontos li .current {
	    top: 20px;
	    left: -15px;
	    transform: rotate(90deg);
	}
}

@media (max-width: 362px) {
	
}

@media (max-width: 326px) {
	
}

body.category.blackfriday-2016 .gt-vitrine li {
	float: left;
	width: 24%;
	background: #fff;
	text-align: center;
	margin: 0.5% !important;
	box-sizing: border-box;
	border: 2px solid transparent;
}
body.category.blackfriday-2016 .gt-vitrine li:hover {
	border-color:#ffb400;
}
body.category.blackfriday-2016 .show-buy a.add-cart {
    background: #ffb400;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
@media(min-width: 768px){ 

}

@media(max-width: 950px){
	body.category.blackfriday-2016 .gt-vitrine li {
		width: 32%;
	}
}

@media(max-width: 600px){
	body.category.blackfriday-2016 .gt-vitrine li {
		width: 48%;
	}
}