@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

$fonte: 'Source Sans Pro', sans-serif;
/* Sprite do Compass */
@import "compass/utilities/sprites";
$sprite-layout:horizontal;
$sprite-spacing: 4px;
$sprite-sprite-dimensions: true;
@import "sprite/*.png";
@include all-sprite-sprites;


#my-soon-counter {padding-top:0rem;}
#my-soon-counter {padding-right:0rem;}
#my-soon-counter {padding-bottom:0rem;}
#my-soon-counter {padding-left:0rem;}
#my-soon-counter .soon-reflection {background-color:#000000;background-image:linear-gradient(#000000 25%,rgba(0,0,0,0));}
#my-soon-counter {background-position:top;}
#my-soon-counter {color:#ffffff;}
#my-soon-counter .soon-label {color:#ffffff;}
#my-soon-counter {font-family:"sourceSansPro",sans-serif;font-weight:800;font-style:normal;}
#my-soon-counter .soon-ring-progress {background-color:#e7e7e7;}

body{
    background: url(/arquivos/300x250-pattern-blackfriday.jpg);
	font-family: $fonte;
}

section.master.topBar-friday {
	float: left;
	width: 100%;
	padding-top: 15px;
	background: #000;
	.content {
		max-width: 1010px;
		margin: 0px auto;
	}
	.botoes-e-midia{
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
		& > a {
			border: 2px solid #fff;
			display: inline-block;
			flex-basis: 145px;
			text-align: center;
			padding: 9px 0px;
			color: #fff;
			text-decoration: none;
			font-size: 13px;
			&:hover{
				border-color: #ffb400;
				color: #ffb400;
			}
		}
	}
	.botoes-e-midia {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.botoes-e-midia ul {
		display: flex;
		align-items: center;
		justify-content: center;
		h4{
			text-transform: uppercase;
			color: #fff;
			margin-right: 10px;
		}
		li{
			margin: 0px 3px;
		}
	}
}
div#my-soon-counter {
	clear: both;
}

section.master.logo-friday {
	float: left;
	width: 100%;
	padding-top: 25px;
	background: #000;
	.logo-blackfriday {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.texto-friday{
		padding-top: 32px;
		padding-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		p{
			font-family: $fonte;
			color: #ffb400;
			font-size: 24px;
			text-align: center;
		}
	}
}

section.master.contagem{
	float: left;
	width: 100%;
	background: #000;
	.contadorText {
		display: flex;
		align-items: center;
		justify-content: center;
		h2 {
			font-size: 40px;
			color: #666;
			font-weight: bold;
			padding-right: 15px;
		}
	}
	padding-bottom: 45px;
}

section.master.linha-friday{
	background:#ffb400;
	float: left;
	width: 100%;
	padding:40px 0px;
	position: relative;
	.linhaBusca-Friday {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.linhaBusca-Friday strong {
		font-weight: 700;
	}
	.linhaNews-friday {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16px 0px 0px 0px;
		max-width: 630px;
		margin: 0px auto;
	}
	input[type="text"] {
		height: 50px;
		border: none;
		padding-left: 15px;
		box-sizing: border-box;
		flex-grow: 2;
		outline: none;
	}
	input[type="submit"] {
		flex-grow: 1;
		border: none;
		height: 50px;
		box-sizing: border-box;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		outline: none;
		cursor: pointer;
	}
	.seta-friday {
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #ffb400;
		position: absolute;
		bottom: -20px;
		left: calc(50% - 10px);
	}
}
.footerFriday{
	.content {
		max-width: 1010px;
		margin: 0px auto;
	}
	.textos {
		display: flex;
		align-items: end;
		justify-content: space-between;
		p{
			font-size: 13px;
		}
		h3{
			margin-bottom: 10px;
			font-weight: 600;
		}
	}
	.blocoFriday{
		flex-basis: 30%;
	}
	.blocoFriday {
		border-right: 1px solid;
		padding-right: 10px;
		min-height: 233px;
		&:last-child{
			border:none;
		}
	}
}
section.master.copy-friday {
	float: left;
	width: 100%;
	padding: 22px 0px;
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	li {
		margin: 0px 10px;
		border-right: 1px solid #fff;
		padding-right: 10px;
		text-align: center;
		margin-right: 0px;
		a {
			color: #fff;
			text-decoration: none;
			font-size: 10px;
		}
	}
	li:last-child {
		border: none;
	}
}

section.master.prodBlackFriday {
	float: left;
	width: 100%;
	padding: 35px 0px;
	text-align: center;
	.tituloBlackProd{
		color: #fff;
		padding-top:25px;
		padding-bottom:8px;
		h1{
			color: #ffb400;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.9rem;
			padding-bottom:8px;
		}
	}
	.todosProdutosBlack {
		max-width: 1010px;
		margin: 0px auto;
	}
}


li .flags .flag {display: none}
.gt-vitrine ul { padding-right: 1px}
.gt-vitrine ul, .gt-vitrine li {box-sizing: border-box}
.gt-vitrine li {
	float: left;
	width: 30%;
	background: #fff;
	text-align: center;
	margin: 1.5%;
	box-sizing: border-box;
    border: 2px solid transparent;
	&:hover{
		border-color:#ffb400;
	}
}
.gt-vitrine li .ct {border: 1px solid #fff;padding: 10px;position: relative}
.gt-vitrine span.fotoProduto {display: block;text-align: center}
.gt-vitrine li img {width: 90%;height: auto; display: block; margin: 0 auto}
.gt-vitrine .product-info { min-height: 182px}
.gt-vitrine .marca { display: none}
.gt-vitrine .brand {
    font-size: 13px;
    color: #333;
    margin-top: 6px;
    padding: 10px 0;
    font-weight: bold;
}
.gt-vitrine .brand b {
    font-weight: bold;
    font-family: -webkit-body;
    text-transform: capitalize;
}
.gt-vitrine h3 {height: 50px;overflow: hidden;font-weight: normal;line-height: 16px;padding: 0 20px}
.gt-vitrine h3 a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
}
.gt-vitrine .preco {min-height: 67px; line-height: 1.1}
.gt-vitrine .preco-de {
    text-decoration: line-through;
    font-size: 14px;
    display: block;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
}
.gt-vitrine .preco-por {
    font-size: 25px;
    color: #ffb400;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    display: block;
}
.gt-vitrine .preco-parcelado {
    display: block;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.gt-vitrine .preco-parcelado b { font-weight: 900; font-family: 'bold', sans-serif}
.gt-vitrine p.esgotado {text-transform: uppercase;font-size: 12px;color: #666}
.show-buy {width: 100%;background: url(/arquivos/bg-vitrine.png);display: block; height: 70px;opacity: 0;}
.show-buy a {transition: all 0.15s ease;display: block;width: 148px;margin: 0 auto;text-align: center;font-family: "Times New Roman", Times, serif}
.show-buy a.add-cart {
    background: #ffb400;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.freteGratis {background: url(https://azperfumes.vteximg.com.br/arquivos/flag_freteGratis.jpg);display: block;width: 148px;height: 29px;margin: 0 auto}
.show-buy a.avisame {background: #E3EAEB;padding: 13px 0;font-size: 14px;color: #777}
.show-buy a.avisame:hover {background: #aaa;color: #fff}
.gt-vitrine li .flags {position: absolute;top: -3px;right: -3px}
.gt-vitrine li .flag.discount, .gt-top10 li .flag.discount {width: 60px;text-align: center; border-radius: 50%; font-size: 12px; background: #C00007; padding: 18px 0 12px; color: #fff}
.gt-vitrine li .flag.discount span, .gt-top10 li .flag.discount span { display: block; font-size: 16px; font-family: 'bold', sans-serif; letter-spacing: -1px; padding: 0 0 2px}
.gt-vitrine li:hover .ct { border: 1px solid #ccc}
.gt-vitrine li:hover .show-buy{
	opacity: 1;
}
.evaluation-rate {
	overflow: hidden;
	strong {
		display: none;
	}
}
.freteGratis {
    background: url(https://azperfumes.vteximg.com.br/arquivos/flag_freteGratis.jpg);
    display: block;
    width: 148px;
    height: 29px;
    margin: 0 auto;
}
#spnRatingProdutoTop {
  float: left;
}

.rating-produto, .rating-demonstrativo, .rating-wrapper .rating, .info-comentario div.rating {
  height: 18px;
  width: 87px;
}

.ratingStar, .rating-produto, .rating-demonstrativo, .rating-wrapper div, .info-comentario div.rating {
  background-image: url(/arquivos/gt_sprite-stars.png);
  background-repeat: no-repeat;
  display: block;
  text-indent: -999em;
  margin: 0 auto;
}

.a05, .a10, .avaliacao05, .avaliacao10 {
  background-position: 0 -20px;
}

.a15, .a20, .avaliacao15, .avaliacao20 {
  background-position: 0 -40px;
}

.a25, .a30, .avaliacao25, .avaliacao30 {
  background-position: 0 -60px;
}

.a35, .a40, .avaliacao35, .avaliacao40 {
  background-position: 0 -80px;
}

.a45, .a50, .avaliacao45, .avaliacao50 {
  background-position: 0 -100px;
}

@media only screen and (max-width: 480px) {
	.lista-produtos .gt-vitrine li {
		width: 46%;
		height: 400px;
		float: left;
	}
	.gt-vitrine li .flags {
		right: 15px;
	}
	a#lnkPubliqueResenha {
		width: 100%;
	}
	.voteRatingBar {
		width: 60px;
	}
	.produto.checkbox .buy-button, .gt-top10 li {
		width: 100%;
	}
	.footer-social li {
		margin: 0 2px;
	}
	.nav-footer .atendimento b {
		letter-spacing: -1px;
	}
}
li .flags .flag.compre-ganhe {
	display: block;
	background: url(/arquivos/compre-ganhe.png) no-repeat 0 0;
	width: 76px;
	height: 32px;
	font-size: 0;
	position: absolute;
	bottom: 0;
}
a#scrollToTop {
    position: fixed;
    z-index: 99999999999999;
    left: 10px;
    bottom: 10px;
    background: #ffb400;
    box-sizing: border-box;
    border-radius: 100px;
    color: #000;
    text-decoration: none;
    padding: 15px 8px;
    font-size: 12px;
    font-weight: 500;
}
.pager.top {
    display: none !important;
}
.pager.bottom {
    float: left;
    width: 100%;
    margin-top: 40px;
}
span.sprite-icon-mais-new {
    display: block;
    float: left;
    margin-right: 8px;
}
.gt-vitrine > h2{
	display: none;
}
div#x-infinityScroll {
    background: #9b6d00;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 8px;
    cursor: pointer;
    &:hover{
    	background: #ffb400;
    }
    a{
    	color: #fff !important;
    	text-decoration: none;
    }
}
@media(max-width: 370px){
	.botoes-e-midia h4 {
	    display: none;
	}
}
@media(max-width: 500px){
	.new-logo-friday.sprite-logo-black-friday {
	    background: url(/arquivos/logo-black-friday.png);
	    background-size: 100%;
	    background-repeat: no-repeat;
	}
	section.master.contagem .contadorText {
	    flex-direction: column;
	}
	section.master.linha-friday .content {
	    padding: 0px 10px;
	    box-sizing: border-box;
	}
	.botoes-e-midia a {
	    margin-left: 5px;
	}
	.footerFriday .textos {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	}
	.footerFriday .blocoFriday{
	    border: none;
	    border-bottom: 1px solid #000;
	    margin-bottom: 25px;
	}
	.gt-vitrine li {
	    width: 47%;
	}
	.show-buy a {
	    transition: all 0.15s ease;
	    display: block;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    font-family: "Times New Roman", Times, serif;
	    font-size: 13px !important;
	}
	.gt-vitrine h3 {
	    padding: 0 0px;
	    margin-bottom: 8px;
	}
	.gt-vitrine .show-buy{
		opacity: 1;
	}
}
span.fotoProduto{
	position: relative;
	span.flag.discount {
	    background:url("/arquivos/bf2016_flag-desconto.png");
		display: block !important;
		position: absolute !important;
		top: -8px !important;
		right: 13px !important;
	    width: 70px !important;
	    height: 93px !important;
	    border-radius: 0px !important;
	    padding: 0px !important;
	}
}
.gt-vitrine li .flag.discount span, .gt-top10 li .flag.discount span {
    position: absolute;
    top: 49px;
    left: 10px;
    display: inline-block !important;
    color: #fdb400;
    font-size: 14px;
    &::after{
    	content: "OFF";
		position: absolute;
		left: 12px;
		top: 16px;
    }
}